{% extends "todo/base.html" %}

{% block content %}
{% load static %}
{% load socialaccount %}

<link rel="stylesheet" href="{% static 'styles/auth.css' %}">
<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form class="md-float-material form-material"  method="POST">
                	{% csrf_token%}
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading">Signup</h3>

                                    {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                            {% for field in form%}
                            <h5>{{field.errors}}</h5>
                            {% if   'password' in field.name %}
                            	<div class="form-group form-primary"> <input type="password" class="form-control" name="{{field.name}}" placeholder="Password"  id="{{field.name}}" required> </div>
                            {% elif 'email' in field.name %}
                            	<div class="form-group form-primary"> <input type="text" class="form-control" name="{{field.name}}" value="" placeholder="Email" id="{{field.name}}" required> </div>
                            {% elif 'username' in field.name %}
                            	<div class="form-group form-primary"> <input type="text" class="form-control" name="{{field.name}}" placeholder="Display name" id="{{field.name}}" required> </div>
                            {% elif 'first_name' in field.name %}
                            	<div class="form-group form-primary"> <input type="text" class="form-control" name="{{field.name}}" placeholder="First name" id="{{field.name}}" required> </div>
                            {% elif 'last_name' in field.name %}
                            	<div class="form-group form-primary"> <input type="text" class="form-control" name="{{field.name}}" placeholder="Last name" id="{{field.name}}" required> </div>
                            {% endif %}
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-12"> <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signup Now">
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">or</div>
                                <div class="line-separator"></div>
                            </div>
                            <p class="text-inverse text-center">Already have an account? <a href="{% url 'loginuser' %}" data-abc="true">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}